<!DOCTYPE html>
<html>
<head>
    <title>CPAOA Weather</title>
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#0f172a">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<script>
    function refreshIfStale() {
        const footer = document.getElementById("cache-footer");
        if (!footer) return;

        const cacheTime = Number(footer.dataset.cacheTime) * 1000;
        const now = Date.now();

        const tenMinutes = 10 * 60 * 1000;

        if (now - cacheTime > tenMinutes) {
            window.location.reload();
        }
    }

    window.addEventListener("pageshow", refreshIfStale);
    document.addEventListener("visibilitychange", function () {
        if (!document.hidden) {
            refreshIfStale();
        }
    });
</script>

<body>

<nav class="top-tabs">
    <a href="/">Current</a>
    <a href="/today">Today</a>
    <a href="/tomorrow">Tomorrow</a>
    <a href="/data">Data</a>
</nav>

{% block content %}
{% endblock %}

<footer class="footer-cache" id="cache-footer" data-cache-time="{{ cache_epoch }}">
    Data Updated: {{ cache_time }} LT
</footer>

</body>
</html>